################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs

publish

*.user
/src/Test/bin
/src/Test/obj
/src/TheColdWorld.Utils.WebSocket/bin
/src/TheColdWorld.Utils.WebSocket/obj